@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFEF6;
  --foreground: #010204;
  --beige: #F6F1DD;
  --yellow: #FBD15B;
  --red: #DF613E;
  --gray: #696969
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --beige: #fb923c;
    --yellow: #FBD15B;
    --red: #DF613E;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-primary);
  /* font-family: Arial, Helvetica, sans-serif; */
}